body{
	padding: 0px;
	margin: 0px;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}

nav{
	padding: 10px;
	background-color: #000000;
	color: #ffffff;
	height: 80px;
	overflow: hidden;
}
nav .nav-logo{
	float: left;
	padding: 10px;
}
nav .nav-logo h2{
	font-weight: bold;
}
nav .menu{
	padding-top: 17px;
}
nav .menu ul{
	float: right;

}
nav .menu ul li{
	padding: 5px;
	display :inline;
}
nav .menu ul li a{
	color: #ffffff;
}
.main-content{
	padding:10px;
}
.sys-users{
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 10px;
}
.sys-items{
	text-align: center;	
}
.sys-items .clinic-staff{
	background-color: #269CFF;
	padding: 15px;
}
.sys-items .clinic-staff img{
	width: 150px;
}
.sys-items .admin-staff{
	background-color: orange;
	padding: 15px;
}
.sys-items .admin-staff img{
	width: 150px;
}
.sys-items .record-staff{
	background-color: #252531de;
	padding: 15px;
}
.sys-items .record-staff img{
	width: 150px;
}
.sys-items .helath-staff{
	background-color: #0000ff78;
	padding: 15px;
}
.sys-items .helath-staff img{
	width: 150px;
}
.footer{
	padding:20px;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	height: 80px;
}
.footer h3{
	padding: 10px;
	font-weight: bold;
}

/* login */
.log-main{
	padding:20px;
}
.log{
	position: relative;
    top: 30px;
    width: 35%;
    left: 357px;
    padding: 40px;
	padding-top: 30px;
    background-color: orange;
	text-align: center;
}
.log h3{
	font-weight: bold;
	font-size: 25px;
}
.form-group{
	padding: 5px;
}
.form-group input{
	width: 50%;
	border: none;
	padding: 10px;
	border-radius: 5px;
}
.btn-submit{
	 background-color: #100f10;
    width: 56% !important;
	color: #ffffff;
}
.footer-log{
	position: relative;
	margin-top: 35px;
	padding:20px;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	height: 70px;
}